body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s; 
}


header {
    text-align: center;
    padding: 20px 0;
    background-color: #000000;
    color: #fff;
    border: none;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #444;
}

body.light-mode {
    background-color: #fff;
    color: #000;
}

body.light-mode .container {
    background-color: #fff; 
    color: #000; 
}

body.light-mode header {
    background-color: #fff; 
    color: #000; 
    border: none; 
}

body.light-mode footer {
    background-color: #fff; 
    color: #000; 
}


body.light-mode .search-results div {
    background-color: #fff; 
    color: #000; 
}


body.dark-mode {
    background-color: #000;
    color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007BFF;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.search-container {
    text-align: center;
    margin: 20px 0;
}

#search-input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 18px;
}


.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

#search-button,
#new-button {
    padding: 12px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

#search-button:hover,
#new-button:hover {
    background-color: #0056b3;
}


.search-results {
    margin-top: 20px;
}

.search-results div {
    padding: 15px;
    background-color: #111;
    border: 1px solid #444;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
    font-size: 16px;
}

#title:hover {
    cursor: pointer;
}